# STATISTIK DATA PEMINJAMAN BUKU PERPUSTAAN

In [8]:
from scipy import stats
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd

In [20]:
df = pd.read_csv('book1.csv')
df

    BUKU AGAMA  BUKU NOVEL  BUKU ILMU SOSIAL  BUKU TEKNOLOGI  BUKU ANAK
0          315         252               277             387      379.0
1          436         385               257             348      432.0
2          265         414               330             253      259.0
3          334         355               320             450      264.0
4          337         366               272             367      359.0
5          409         345               410             384      381.0
6          240         370               231             352      414.0
7          323         389               197             436      246.0
8          265         378               189             265      313.0
9          260         269               450             334      312.0
10         199         264               232             337      249.0
11         371         278               260             409      211.0
12         260         273               362             240      304.0
13         326         378               425             323      367.0
14         188         252               200             265      237.0
15         232         354               399             260      202.0
16         260         287               371             196      332.0
17         362         384               260             230      372.0
18         425         253               326             278      448.0
19         200         275               188             303      395.0
20         199         264               232             337      249.0
21         332         278               260             409      211.0
22         372         273               362             240      304.0
23         420         378               425             323      367.0
24         340         252               200             265      237.0
25         278         354               399             260      202.0
26         314         287               371             196      332.0
27         384         384               260             230      372.0
28         372         253               326             278      448.0
29         340         275               188             303      395.0
..         ...         ...               ...             ...        ...
70         259         212               438             235      300.0
71         351         310               353             325      342.0
72         215         348               257             324      322.0
73         199         337               209             192      272.0
74         253         284               333             375      302.0
75         322         341               247             208      354.0
76         333         319               304             441      431.0
77         390         267               311             346      360.0
78         284         310               287             293      293.0
79         341         328               340             401      367.0
80         294         328               413             375        NaN
81         405         315               432             191      348.0
82         436         208               240             352      359.0
83         387         351               245             196      449.0
84         229         215               326             348      418.0
85         338         199               290             332      341.0
86         250         253               407             405      313.0
87         300         322               415             444      397.0
88         444         333               300             353      362.0
89         196         390               234             346      395.0
90         230         284               333             375      302.0
91         278         341               247             208      354.0
92         303         319               304             441      431.0
93         229         267               311             346      360.0
94         338         310               287             293      293.0
95         343         328               340             401      367.0
96         294         328               413             375        NaN
97         287         315               432             191      348.0
98         340         208               240             352      359.0
99         413         351               245             196      449.0

[100 rows x 5 columns]

In [21]:
df.describe()

       BUKU AGAMA  BUKU NOVEL  BUKU ILMU SOSIAL  BUKU TEKNOLOGI   BUKU ANAK
count  100.000000  100.000000        100.000000      100.000000   98.000000
mean   314.910000  312.670000        313.340000      312.580000  335.336735
std     73.242243   62.563916         77.188372       74.059106   67.813562
min    188.000000  199.000000        188.000000      191.000000  202.000000
25%    258.500000  264.000000        246.500000      252.250000  300.250000
50%    322.000000  315.000000        321.500000      323.500000  348.000000
75%    372.750000  365.250000        371.000000      358.750000  380.500000
max    448.000000  448.000000        450.000000      450.000000  449.000000

# Menampilkan data menggunakan Looping

In [22]:
data= {"Statistics": ['Count', 'Max', 'Min', 'Mean','Standard Deviasi', 'Variasi', 'Quantile 1', 'Quantile 2',
                      'Quantile 3', 'Skewnes', 'Median', 'Modus']}
for i in df.columns:
    data[i] = [df[i].count(), df[i].max(), df[i].min(), df[i].mean(), round(df[i].std(),2), round(df[i].var(),2),
               df[i].quantile(0.25), df[i].quantile(0.5), df[i].quantile(0.75), round(df[i].skew(),2), df[i].median(),
              stats.mode(df[i]).mode[0]]
tes = pd.DataFrame(data,columns = ['Statistics'] + [x for x in df.columns])
tes

,Statistics,BUKU AGAMA,BUKU NOVEL,BUKU ILMU SOSIAL,BUKU TEKNOLOGI,BUKU ANAK
0,Count,100.00,100.00,100.00,100.00,98.000000
1,Max,448.00,448.00,450.00,450.00,449.000000
2,Min,188.00,199.00,188.00,191.00,202.000000
3,Mean,314.91,312.67,313.34,312.58,335.336735
4,Standard Deviasi,73.24,62.56,77.19,74.06,67.810000
5,Variasi,5364.43,3914.24,5958.04,5484.75,4598.680000
6,Quantile 1,258.50,264.00,246.50,252.25,300.250000
7,Quantile 2,322.00,315.00,321.50,323.50,348.000000
8,Quantile 3,372.75,365.25,371.00,358.75,380.500000
9,Skewnes,0.04,0.09,0.10,0.02,-0.340000
10,Median,322.00,315.00,321.50,323.50,348.000000
11,Modus,199.00,384.00,260.00,196.00,367.000000